body{
     background-color: black;
}
body h1 {
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
    
}
.book-card {
    width: 350px;
    height: 400px;
    margin: 25px;
    padding: 15px;
    border: 2px solid #978064;
    border-radius: 10px;
    background: #f0f0f0;
    color: black;
    text-align: center;
    display:inline-block;
    vertical-align: top;        
}

.book-card img {  
    max-width: 100%;
    height: auto;
   
}

.book-card button{
    padding: 10px 20px;
    margin-top: 10px;
    vertical-align: top;
}


 
 