
 .headder{
    text-align: center;
 }

 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

#links {
    text-align: center;
    padding: 20px 0;
}

#links a {
    display: inline-block;
    background-color: rgb(161, 50, 50);
    color: aliceblue !important; 
    font-size: large;
    font-weight: bold; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    margin: 0 10px;
    transition: background-color 0.3s;
}

#links a:hover,
#links a:visited {
    color: aliceblue;
    text-decoration: none;
}

#links a:hover {
    background-color: rgb(200, 70, 70);
}

.hero-section {
    min-height: 90vh;
    background-image: url(library-background.jpg);
    background-size:contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.books-button {
    background-color: #ff9800;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.movies-button {
    background-color: #ff9800;
    color: white;
    padding: 15px 30px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.books-button:hover {
    background-color: #f57c00;
}

.movies-button:hover {
    background-color: #f57c00;
}

